<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t ".module_members_organization" %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.check_box :enable_module_members %>
    </div>
    <div class="row column">
      <%= form.check_box :enable_placeholder_members %>
    </div>
      </div>
</div>
